{% if plus_cart_discount_code %}
  <div class="discount足code足field">
    <label for="discount">{{ 'cart.general.discount_code' | t }}</label>
    <input autocomplete="off" type="text" name="discount" />
  </div>
{% endif %}

{% if plus_cart_discount_code %}
  <div class="discount足code足field">
    <label for="discount">{{ 'cart.general.discount_code' | t }}</label>
    <input autocomplete="off" type="text" name="discount" />
  </div>
{% endif %}