{% if plus_cart_discount_code %}  
  <div class="discount­code­field"> 
    <label for="discount">Код за отстъпка</label> 
    <input autocomplete="off" type="text" name="discount" /> 
  </div> 
{% endif %}

{% if plus_cart_discount_code %}  
  <div class="discount­code­field"> 
    <label for="discount">Код за отстъпка</label> 
    <input autocomplete="off" type="text" name="discount" /> 
  </div> 
{% endif %}