<div class="section-heading align-center section-heading--with-spacing" data-cc-animate>
    <div class="heading-decoration hidden-mobile">
        <div class="heading-decoration-line1 left-margin"></div>
        <div class="heading-decoration-line2"></div>
    </div>
    <h2 class="h2 bold">
        {{ title | escape }}
    </h2>
    <div class="heading-decoration hidden-mobile">
        <div class="heading-decoration-line1 right-margin"></div>
        <div class="heading-decoration-line2"></div>
    </div>
</div>