<div class="wide-container half-gutter section-spacing {% if section.settings.alternate_bg_color %}use-alt-bg {% endif %}" data-section-type="featured-collection" data-cc-animate>
  {% if section.settings.title != blank %}
    {% render 'section-heading', title: section.settings.title %}
  {% else %}
      <div></div>
  {% endif %}

  <div class="customer-reviews">
    {% for block in section.blocks %}
      {% render 'customer-review', settings: block.settings i: forloop.index %}
    {% endfor %}
  </div>
</div>

<!--slider code-->
<script>
  jQuery(function ($) {
    $('.customer-reviews').slick({
      dots: true,
      infinite: true,
      speed: 800,
      autoplay: false,
      autoplaySpeed: 2000,
      slidesToShow: 3,
      slidesToScroll: 3,
      arrows: false,
      responsive: [{
              breakpoint: 1024,
              settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: true,
                  speed: 800,
                  autoplay: false,
                  autoplaySpeed: 2000,
                  dots: true
              }
          },
          {
              breakpoint: 600,
              settings: {
                  slidesToShow: 1,
                  centerMode: true,
                  centerPadding: '40px',
                  slidesToScroll: 1,
                  infinite: true,
                  speed: 800,
                  autoplay: false,
                  autoplaySpeed: 2000,
                  dots: true
              }
          },
          {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1,
                  centerMode: true,
                  centerPadding: '40px',
                  speed: 800,
                  autoplay: false,
                  autoplaySpeed: 2000,
                  slidesToScroll: 1
              }
          }
  
      ]
  });
  });
</script>

{% schema %}
{
  "name": "Customer Reviews",
  "class": "section-customer-reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Customer reviews"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "richtext",
          "id": "review",
          "label": "Review",
          "default": "<p>Customer review text</p>"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer name"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews",
      "category": "Text"
    }
  ]
}
{% endschema %}