@media screen and (max-width: 749px) {
    .small-hide {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 750px) and (max-width: 989px) {
    .medium-hide {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 990px) {
    .large-up-hide {
      display: none !important;
    }
  }

.mobile-facets__clear-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    text-align: center;
  }
  
  .mobile-facets {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 26;
    background-color: rgba(18,18,18,0.5);
    pointer-events: none;
  }
  
  .mobile-facets__disclosure {
    display: flex;
  }
  
  .mobile-facets__wrapper {
    margin-left: 0;
    display: flex;
  }
  
  .mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
    height: 100vh;
    z-index: 3;
  }
  
  .mobile-facets__inner {
    background-color: #FFFFFF;
    width: calc(100% - 5rem);
    margin-left: auto;
    height: 100%;
    overflow-y: auto;
    pointer-events: all;
    transition: transform var(--duration-default) ease;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    border-color: rgba(18,18.18, 0.1);
    border-style: solid;
    border-width: 0 0 0 1px;
    filter: drop-shadow(rgba(18,18,18, 0) 0px 4px 5px);
  }
  
  .menu-opening .mobile-facets__inner {
    transform: translateX(0);
  }
  
  .js .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
    transform: translateX(105vw);
  }
  
  .mobile-facets__header {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    padding: 32px 2.5rem;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .mobile-facets__header-inner {
    flex-grow: 1;
    position: relative;
  }
  
  .mobile-facets__info {
    padding: 0 2.6rem;
  }
  
  .mobile-facets__heading {
    font-size: calc(var(--font-heading-scale) * 1.4rem);
    margin: 0;
  }
  
  .mobile-facets__count {
    color: rgba(var(--color-foreground), 0.7);
    font-size: 1.3rem;
    margin: 0;
    flex-grow: 1;
  }
  
  .mobile-facets__open-wrapper {
    display: inline-block;
  }
  
  .mobile-facets__open {
    text-align: left;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    color: rgba(var(--color-link), var(--alpha-link));
  }
  
  .mobile-facets__open:hover {
    color: rgb(var(--color-link));
  }
  
  .mobile-facets__open:hover line,
  .mobile-facets__open:hover circle {
    stroke: rgb(var(--color-link));
  }
  
  .mobile-facets__open-label {
    transition: text-decoration var(--duration-short) ease;
  }
  
  .mobile-facets__open:hover .mobile-facets__open-label {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  
  .mobile-facets__open > * + * {
    margin-left: 0.5rem;
  }
  
  .mobile-facets__open svg {
    width: 2rem;
  }
  
  .mobile-facets__open line,
  .mobile-facets__open circle {
    stroke: rgba(var(--color-link), var(--alpha-link));
  }
  
  .mobile-facets__close {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0.7rem;
    right: 1rem;
    width: 4.4rem;
    height: 4.4rem;
    z-index: 101;
    opacity: 0;
    transition: opacity var(--duration-short) ease;
  }
  
  .mobile-facets__close svg {
    width: 2.2rem;
  }
  
  details.menu-opening .mobile-facets__close {
    display: flex;
    opacity: 1;
  }
  
  details.menu-opening .mobile-facets__close svg {
    margin: 0;
  }
  
  .mobile-facets__close-button {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: 1.4rem;
    font: inherit;
    letter-spacing: inherit;
    margin-top: 1.5rem;
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    width: calc(100% - 5.2rem);
  }
  
  .no-js .mobile-facets__close-button {
    display: none;
  }
  
  .mobile-facets__close-button .icon-arrow {
    transform: rotate(180deg);
    margin-right: 1rem;
  }
  
  .mobile-facets__main {
    padding: 0px 0px 144px 0px;
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mobile-facets__details {
    margin-bottom: 1.3rem;
  }  

  .mobile-facets__details[open] .icon-caret {
    transform: rotate(180deg);
  }
  
  .no-js .mobile-facets__details {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.04);
  }
  
  .mobile-facets__highlight {
    opacity: 0;
    visibility: hidden;
  }
  
  .mobile-facets__checkbox:checked + .mobile-facets__highlight {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background-color: rgba(var(--color-foreground), 0.04);
  }
  
  .mobile-facets__summary {
    padding: 1.3rem 2.5rem 1.3rem 1.3rem;
  }
  
  .mobile-facets__summary svg {
    margin-left: auto;
  }
  
  .mobile-facets__summary > div,
  .facets__summary > div {
    display: flex;
    align-items: center;
  }
  
  .js .mobile-facets__submenu {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translateX(100%);
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .js details[open] > .mobile-facets__submenu {
    transition: transform 0.4s cubic-bezier(0.29, 0.63, 0.44, 1), visibility 0.4s cubic-bezier(0.29, 0.63, 0.44, 1);
  }
  
  .js details[open].menu-opening > .mobile-facets__submenu {
    transform: translateX(0);
    visibility: visible;
  }
  
  .js .menu-drawer__submenu .mobile-facets__submenu {
    overflow-y: auto;
  }
  
  .js .mobile-facets .submenu-open {
    visibility: hidden; /* hide menus from screen readers when hidden by submenu */
  }
  
  .mobile-facets__item {
    position: relative;
  }
  
  input.mobile-facets__checkbox {
    border: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 0;
    appearance: none;
    -webkit-appearance: none;
  }

  .mobile-facets__label > input[type='checkbox']:checked.color {
    outline: 2px solid #000 !important;
  }

  input.mobile-facets__checkbox.color{
    background-color: transparent;
  }

  .mobile-facets__label {
    padding: 0px;
    width: 100%;
    transition: background-color 0.2s ease;
    word-break: break-word;
    display: flex;
    align-items: center;
  }
  
  .mobile-facets__label > svg {
    background-color: rgb(var(--color-background));
    position: relative;
    z-index: 2;
    margin-right: 0.6rem;
    flex-shrink: 0;
  }
  
  .mobile-facets__label .icon-checkmark {
    position: absolute;
    visibility: hidden;
    fill:none;
  }
  
  .mobile-facets__label > input[type='checkbox']:checked ~ .icon-checkmark {
    visibility: visible;
  }
  
  .mobile-facets__arrow,
  .mobile-facets__summary .icon-caret {
    margin-left: auto;
    display: block;
  }
  
  .mobile-facets__label--disabled {
    opacity: 0.5;
  }
  
  .mobile-facets__footer {
    border-top: 1px solid #423f3f;
    padding: 0.8rem 1rem 1rem 1rem;
    margin-top: 1rem;
    bottom: 0;
    position: fixed;
    display: flex;
    z-index: 2;
    background-color: #FFF;
  }
  
  .mobile-facets__footer > * + * {
    margin-left: 1rem;
  }
  
  .mobile-facets__footer > * {
    width: 50%;
  }
  
  .mobile-facets__footer noscript .button {
    width: 100%;
  }
  
  .mobile-facets__sort {
    display: flex;
    justify-content: space-between;
  }
  
  .mobile-facets__sort label {
    flex-shrink: 0;
  }
  
  .mobile-facets__sort .select {
    width: auto;
  }
  
  .no-js .mobile-facets__sort .select {
    position: relative;
    right: -1rem;
  }
  
  .mobile-facets__sort .select .icon-caret {
    right: 0;
  }
  
  .mobile-facets__sort .select__select {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    filter: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }

  @media screen and (min-width: 767px) {
    .facets-vertical {
      display: flex;
    }
  
    .facets-wrap-vertical {
      border: none;
      padding-left: 0;
    }
  
    .facets__form-vertical {
      display: flex;
      flex-direction: column;
      width: 26rem;
    }
  
    .facets__disclosure-vertical {
      border-top: 0.1rem solid rgba(var(--color-foreground), 0.1);
      margin-right: 0;
    }
  
    .facets-vertical .facets__summary {
      padding-top: 1.5rem;
      margin-bottom: 0;
      padding-bottom: 1.5rem;
    }
  
    .facets__heading--vertical {
      margin: 0 0 1.5rem 0;
      font-size: 1.5rem;
    }
  
    .facets__header-vertical {
      padding: 1.5rem 2rem 1.5rem 0;
      font-size: 1.4rem;
    }
  
    .facets__display-vertical {
      padding-bottom: 1.5rem;
    }
  
    .facets-vertical .facets-wrapper {
      padding-right: 3rem;
    }
  
    .facets-vertical .facets-wrapper--no-filters {
      display: none;
    }
  
    .no-js .facets-vertical .facets-wrapper--no-filters {
      display: block;
    }
  
    .facets-vertical .product-grid-container {
      width: 100%;
    }
  
    .facets-vertical-form {
      display: flex;
      justify-content: flex-end;
    }
  
    .product-count-vertical {
      margin-left: 3.5rem;
    }
  
    .facets-vertical .active-facets__button-wrapper {
      margin-bottom: 2rem;
    }
  
    .facets-vertical .no-js .facets__button-no-js {
      transform: none;
      margin-left: 0;
    }
  
    .facets-vertical .no-js .facet-filters__field {
      justify-content: flex-start;
      padding-bottom: 1rem;
      padding-top: 2rem;
    }
  
    .facets-vertical .facets__price {
      padding: 0.5rem 0.5rem 0.5rem 0;
    }
  
    .facets-vertical .facets__price .field:last-of-type {
      margin-left: 1rem;
    }
  
    .facets-vertical .active-facets__button {
      margin-bottom: 1.5rem;
    }
  
    .no-js .facets-vertical .facet-filters.sorting {
      padding-left: 0;
      flex-direction: column;
    }
  
    .facets-vertical .facet-checkbox input[type='checkbox'] {
      z-index: 0;
    }
  
    .no-js .facets-vertical .facets-container {
      display: flex;
      flex-direction: column;
    }
  
    .facets-vertical .active-facets facet-remove:last-of-type {
      margin-bottom: 1rem;
    }
  
    .facets-vertical .active-facets {
      margin: 0;
      align-items: flex-start;
    }
  
    .facets__disclosure-vertical[open] .facets__summary .icon-caret {
      transform: rotate(180deg);
    }
  
    .facets-container-drawer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 0;
    }
  
    .facets-container-drawer .mobile-facets__wrapper {
      margin-right: 2rem;
      flex-grow: 1;
    }
  
    .facets-container-drawer .product-count {
      margin: 0 0 0.5rem 3.5rem;
    }
  
    .facets-container-drawer .facets-pill {
      width: 100%;
    }
  
    .facets-container-drawer .facets__form {
      display: block;
    }
  }
  
  @media screen and (min-width: 767px) and (max-width: 989px) {
    .facets-vertical .active-facets__button {
      padding: 1rem;
      margin-bottom: 0;
      margin-left: -0.5rem;
    }
  
    .facets-vertical .active-facets__button-remove {
      padding: 0 1rem 1rem;
    }
  }

  .button-label {
    font-size: 16px;
  }

  .mobile-facets__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px 12px 0px 12px;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }